/* основной цвет + номер телефона в шапке #757575 */
/* цвет акцент #2196F3 */
/* белый #ffffff */
/* цвет заголовков #212121 */
/* футер rgba(255,255,255,0.6) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
}
/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
/* Утилиты */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin-left: 15px;
  margin-right: 15px;
  width: 1230px;
  /* outline: 2px solid tomato; */
  margin-left: auto;
  margin-right: auto;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* page header */
/* .page-header {
  background-color: #cccccc;
} */
/* Main nav */
.main-nav {
  display: flex;
  align-items: center;
}

/*Логотип*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: black;
}
.logo-foot {
  color: var(--primary-white-color);
}
/* Навигация сайта */
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
}
.site-nav {
  display: flex;
  margin-left: 86px;
}
/* Альтернативный вариант */
/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */
.site-nav .item + .item {
  margin-left: 50px;
}
/* Cont nav */
.cont-nav {
  display: flex;
  margin-left: auto;
}
.cont-nav .item + .item {
  margin-left: 50px;
}
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.link:hover,
.link:focus,
.studio :hover,
.studio:focus,
.portfolio:hover,
.portfolio:focus,
.contact:hover {
  color: var(--accent-text-color);
}
footer {
  background-color: #2f303a;
}
address {
  text-decoration: none;
  color: var(--primary-white-color);
  font-style: normal;
}
.h3-foot {
  margin-top: 0;
  margin-bottom: 0px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
