/* основной цвет + номер телефона в шапке #757575 */
/* цвет акцент #2196F3 */
/* белый #ffffff */
/* цвет заголовков #212121 */
/* футер rgba(255,255,255,0.6) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-color: #664704;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
}

/*Логотип*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: black;
}
/* Навигация сайта */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.link:hover,
.studio :hover,
.portfolio:hover,
.contact:hover {
  color: var(--accent-text-color);
}
/* Герой */

.hero {
  background-color: rgba(47, 48, 58, 0.8);
  /* outline: 2px solid tomato; */
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button.primary {
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  text-decoration: none;
  border-radius: 4px;
  padding: 11px 32px;
  display: inline-block;
  min-width: 136px;
}

/* Наши преимущества */
.list {
  display: flex;
  flex-wrap: wrap;
}
.list .Item {
  width: 278px;
}
.section h2 {
  margin-top: 94px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.advant-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advant-text {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.advant-element:not(:last-child) {
  margin-right: 30px;
}
.list .advant-element {
  width: 277px;
}
.list .advant-list {
  display: flex;
}
/* Чем мы занимаемся */
.doing-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  color: var(--primary-white-color);
}
.doing-list:not(:last-child) {
  margin-right: 30px;
}
.section.doing {
  padding-top: 94px;
  padding-bottom: 94px;
}
.doing img {
  display: block;
}
/* Наша команда */
.team-position {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  columns: var(--primary-text-color);
}
.team-title {
  margin-top: 0;
  margin-bottom: 0px;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-element {
  text-align: center;
  background-color: var(--primary-white-color);
  width: 278px;
  text-align: center;
  background-color: #fff;
}
.team-element:not(:last-child) {
  margin-right: 30px;
}
.team-title {
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-position {
  margin-bottom: 28px;
}
.team img {
  display: block;
  padding-bottom: 30px;
}
.list .slinks {
  margin-left: 35px;
}
/* Клиенты */
.klient .list {
  display: flex;
  justify-content: space-evenly;
}
